
# Name : Sai Ram.K
# ID   : 20181CSE0621
# Course : Programming in Python
---


# MODULE 1

*   Data types
*   Operators and Expressions
*   Input and Output Statements
*   Control Structures 
*   Selective and Repetitive structures 




---

In [ ]:
print('hello')
#print("let's go')

hello

In [ ]:
#ord-> gives ASCII value of a letter/digit   ;  chr--> takes a ASCII input and prints the respective letter/digit
a=ord('1')
b=chr(65)
c=ord('2')
d=chr(97)
print(a,b,c,d)

49 A 50 a

In [ ]:
print("****\n***\n**\n*")

****
***
**
*

In [ ]:
x=format('hello','<20')
y=format('hello','>20')
z=format('hello','^20')
print(x,"\n",y,"\n",z)
dob = 50 +40 - 30* 100 \
                  -25 +12 * 10 \
                   * 9
print(dob)

hello
                hello
        hello
-1855

In [ ]:
x1,y1 = 10,20
x2,y2 = 67,8 
m,b = float(y1-y2)/(x1-x2), y1-float(y1-y2)/(x1-x2)*x1
print ("y=",m,"*x+",b)

y= -0.21052631578947367 *x+ 22.105263157894736

# Program 1
Write a program to convert the given temperature in Fahrenheit to Celsius

In [ ]:
f_reading = float(input("Enter temperature in farenheit:"))
c_reading = (f_reading - 32) * 5/9
print(f_reading,"F"," in celsius is ",c_reading,"C")

Enter temperature in farenheit:98.6
98.6 F  in celsius is  37.0 C

# Program 2
Read three numbers and print their sum

In [ ]:
# let the numbers be num1,num2 and num3
print("Give me 3 numbers and I will tell you their sum\n")
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
num3 = float(input("Enter third number:"))
print("Total = ",(num1 + num2 + num3))

Give me 3 numbers and I will tell you their sum

Enter first number:66
Enter second number:22
Enter third number:1
Total =  89.0

# Program 3
Find the area of a triangle from its sides

In [ ]:
#Area of a triangle given its sides
#LET the sides be s1 s2 and s3
import math
s1 = float(input("Enter side 1 :"))
s2 = float(input("Enter side 2 :"))
s3 = float(input("Enter side 3 :"))
#using Herons formula
s = (s1+s2+s3)/2

area = math.sqrt(s*(s-s1)*(s-s2)*(s-s3))

print("area of triangle :",area)

Enter side 1 :6
Enter side 2 :6
Enter side 3 :6
area of triangle : 15.588457268119896

# Program 4
Read a four digit binary number one digit at a time starting from the rightmost digit and print its decimal value

In [ ]:
#Ex:1000 consider rightmost as LSB and leftmost as MSB
print("Enter a four digit binary number one at a time starting from MSB")
msb = int(input("MSB digit : "))
mid1 = int(input("2nd digit :"))
mid2 = int(input("3rd digit : "))
lsb = int(input("LSB digit :"))

d_digit = (msb*(2**3)) + (mid1*(2**2)) + (mid2*(2**1)) + (lsb*(2**0))

print(msb,mid1,mid2,lsb," in decimal is ",d_digit )

Enter a four digit binary number one at a time starting from MSB
MSB digit : 1
2nd digit :0
3rd digit : 0
LSB digit :1
1 0 0 1  in decimal is  9

# Program 5
Find x to the power y for some x and y

In [ ]:
# Let x be the base and Y be the exponent
import math

x = int(input("Enter base :"))
y = int(input("Enter exponent :"))
print("x^y = ",x**y)

Enter base :3
Enter exponent :9
x^y =  19683

#Program 6
Roots of a quadratic equation ax**2 + bx + c = 0 given a,b and c

In [ ]:
import math
print("The equation Ax^2 + Bx + C")
#entering roots
a = float(input("Enter the value of A :"))
b = float(input("Enter the value of B :"))
c = float(input("Enter the value of C :"))

discrim = (b**2 - 4*a*c)

root1 = (-b + math.sqrt(discrim))/(2*a)
root2 = (-b - math.sqrt(discrim))/(2*a)

print("Root 1 = ", root1)
print('Root 2 = ', root2)

The equation Ax^2 + Bx + C
Enter the value of A :4
Enter the value of B :2
Enter the value of C :16

ValueError: ignored

# Program 7

Program to add two real numbers and print their sum using format function

In [ ]:
# Let the numbers be num1 and num2
num1 = float(input("Enter 1st number :"))
num2 = float(input("Enter 2nd number :"))
#s = num1 + num2
print('{} + {} = {}'.format(num1,num2,num1 + num2))

Enter 1st number :5
Enter 2nd number :5
5.0 + 5.0 = 10.0

# Program 8

Swap two given values

In [ ]:
val1 = input("Enter first value to be swapped: ")
val2 = input("Enter second value to be swapped :")

# Swapping with temporary variable

temp = val1
val1 = val2
val2 = temp
print("Value 1 and value 2 after swapping :",val1,val2)

#swap without temp
#val1,val2 = val2,val1
#print(val1,val2)

Enter first value to be swapped: 1
Enter second value to be swapped :11
Value 1 and value 2 after swapping : 11 1


# Program 9

Generate a random number between 0 and 9

In [ ]:
import random
print(random.randint(0,9))

6

# Program 10

Convert a decimal number to binary, octal and hexa

In [ ]:
decnum = int(input("Enter a decimal number :"))
print('{0} in binary is {1}'.format(decnum,bin(decnum)))
print('{0} in octal is {1}'.format(decnum,oct(decnum)))
print('{0} in hexadecimal is {1}'.format(decnum,hex(decnum)))

Enter a decimal number :12
12 in binary is 0b1100
12 in octal is 0o14
12 in hexadecimal is 0xc

# Program 11

Read the radius of a circle and find its area

In [ ]:
import math
rad = float(input("Enter radius in to calculate area : "))
area = (math.pi)*rad**2
print("Area of circle with radius {0} is {1} sq.units".format(rad,area))

Enter radius in to calculate area : 2
Area of circle with radius 2.0 is 12.566370614359172 sq.units

# Program 12

An object’s momentum is a product of its mass and velocity. Write a Python script to accept an object’s mass (in kilograms) and velocity (in metres per second) as inputs and output its momentum.

In [ ]:
import math

mass = float(input("Enter mass of the object in kg :"))
vel  = float(input("Enter the velocity of the object in m/s :"))
print("momentum =",mass*vel,"kg m/s")

Enter mass of the object in kg :55
Enter the velocity of the object in m/s :2
momentum = 110.0 kg m/s



---

## Operator Programs

# Program 1

Write a python program to determine a number is even or odd.

In [ ]:
n = float(input("Enter number to check even or odd : "))
if n% 2 == 0:
    print(n,"is even")
else :
    print(n,"is odd")

# Program 2

Write a python program to know whether a number is positive or negative.

In [ ]:
n = float(input("Enter number to check +ve or -ve: "))
if n<0:
    print(n,"is negative")
elif n==0:
    print(n,"is neither positive nor negative")
else :
    print(n,"is positive")

# Program 3

Read two numbers num1 and num2 and find the largest of two.

In [ ]:
num1 = float(input("Enter 1st number to compare:"))
num2 = float(input("Enter 2nd number to compare:"))
if num1>num2:
    print(num1,"is largest")
elif num2>num1 :
    print(num2,'is largest')
else :
    print("EQUAL!!!")

# Program 4

Read a character A or B or C. 
If the character input is A, program should print ‘Apple’; 
if character entered is B, program should print ‘Banana’;
if character entered is C, program should print ‘Coconut

In [ ]:
print("Choose an option :")
choice = input("A or B or C -->")
if choice=='A' :
    print("Apple")
elif choice =='B':
    print("Banana")
elif choice=='C':
    print("Coconut")
else :
    print("Choose only from given options")

# Program 5
Read three numbers and find the largest of three.

In [ ]:
a = float(input("enter num1 :"))
b = float(input("enter num2 :"))
c = float(input("enter num3 :"))
if a > b:
    if a > c:
        print('num1=',a)
    else:
        print('num3=',c)
else:
    if b > c:
        print('num2=',b)
    else:
        print('num3=',c)
print(' is the largest value')

# Program 6
  Write a Python script that reads the numeric grade of a student and print its equivalent letter grade as given below:

In [ ]:
grade = int(input("Enter Marks :"))

if grade > 89:
    print('Your grade is "A"')
elif grade > 79 and grade < 90:
        print("Your grade is 'B'")
elif grade > 69 and  grade < 80:
        print("Your grade is 'C'")
else:
    print("Your grade is 'F'")

# Program 7
 Write a Python script to read the length and breadth of a rectangular garden in centimeters. The program should also find the cost of fencing the garden, if the cost of fencing per cm Rs.168.

In [ ]:
length = float(input("enter length in cm : "))
breadth = float(input("enter breadth in cm : "))
peri = 2*(length + breadth)
print("The cost required for fencing is = Rs.",peri*168)

enter length in cm : 10
enter breadth in cm : 3
The cost required for fencing is = Rs. 4368.0

# Program 8

    Write a Python script to read the name and age of two persons x and y. 
    The program should also print the younger of the two.
 
	Sample Input :
	Name : David   Age : 67
	Name: Jennifer  Age : 32
 	Output:
	Jennifer is the youngest

In [ ]:
name_x = input("enter name of person X :")
name_y = input("enter name of person Y :")
age_x = int(input("enter age of X :"))
age_y = int(input("enter age of Y :"))
if age_x < age_y:
  print(f'{name_x} is the youngest')
elif age_y < age_x:
  print(f'{name_y} is the youngest')
else :
  print("Invalid ")

enter name of person X :sai
enter name of person Y :ram
enter age of X :18
enter age of Y :20
sai is the youngest

# Program 9
 Write a Program to read the three sides of a triangle and check whether it is Equilateral, Isosceles or Scalene Triangle

In [ ]:
side1 = float(input("Enter side 1 in cm : "))
side2 = float(input("Enter side 2 in cm : "))
side3 = float(input("Enter side 3 in cm : "))
if (side1==side2==side3):
    print("Equilateral Triangle ")
elif (side1==side2) or (side2==side3) or (side3==side1):
    print("Isosceles Triangle ")
else 
print("Scalene Triangle");

# Program 10
Write a Python script to read a three digit number and find the sum of the cubes of the individual digits.

In [ ]:
num = int(input("enter a 3 digit number : "))
sum = 0
temp = num
while temp>0:
  num = temp%10
  sum = sum + num**3
  temp = temp//10
print("sum of cubes = ",sum)

enter a 3 digit number : 123
sum of cubes =  36

# Program 11
Write a Python script to read a character and check whether it is an alphabet, digit or a special character

In [ ]:
chr = input("enter a character :")
asci = ord(chr)
if (asci >= 65) and (asci<=90):
  print(f'{chr} is an uppercase alphabet ')
elif (asci >= 97) and (asci<=122):
  print(f'{chr} is a lowercase alphabet ')  
elif (asci>=48 and asci<=57):
  print(f'{chr} is a digit')
else :
   print(f'{chr} is a special character')

enter a character :@
@ is a special character

# Program 12
Write a Python script to read the x and y co-ordinate of a point (x, y) and find the quadrant in which the point lies as given below:-
            Condition             |      Quadrant
                                  |
            x is +ve,y is -ve     |      First
            x is -ve,y is +ve     |      Second
            x is -ve,y is -ve     |      Third
            x is +ve,y is -ve     |      Fourth ![image.png]()

In [ ]:
x,y = float(input("Enter the co-ordinates of X :")),float(input("Enter the co ordinates of Y :"))
if (x>0) and (y>0):
  print("1st quadrant")
elif (x==0 and y >0):
  print("+ve Y-axis")
elif(x<0) and (y>0):
  print("2nd quadrant")
elif(x ==0 and y<0):
  print("-VE Y-axis")
elif (x<0) and (y<0):
  print("3rd quadrant")
elif( y == 0 and x > 0):
  print("+ve X-axis")
elif(y==0 and x<0):
  print("-Ve x-axis")
elif(x>0) and (y<0):
  print("4th quadrant")
elif(x==0 and y==0):
  print("Origin")
else:
  print("Invalid co-od")

Enter the co-ordinates of X :0
Enter the co ordinates of Y :0
Origin

## Iterative Control Structures


*   While loop
*   For loop
*   Range function
*   Break statement
*   Continue statement
*   PASS statement

## Program 1
Find 1+2+.......+n for a given n.

In [ ]:
n = int(input("enter a value :"))
sum=0 ; cur=0
while cur<=n:
  sum+=cur
  cur+=1
print(sum)

enter a value :10
55

# Program 2
Program to read ‘n’ numbers and count positive, negatives and zeros among them

In [ ]:
npos=0; nneg=0 ; nzero=0 ; count = 0
n = int(input("enter the value : "))
while count<=0:
  count+=1
  num=int(input("enter number: "))
  if num < 0:
        nneg +=  1
  elif num > 0:
        npos +=  1
  else:
        nzero += 1
print('Positive count is {0}\n Negative count is {1}\n Zeros are {2}'.format(npos,nneg,nzero))

enter the value : 2
enter number: 12
Positive count is 1
 Negative count is 0
 Zeros are 0

In [ ]:
for num in range(1,10):
  print(num)

1
2
3
4
5
6
7
8
9

## Program 3
Find the factorial of a given number n using for loop

In [ ]:
num = int(input("enter the number : "))
if(num==0 or num==1):
  print(f"{num}! = 1")
else:
  fact = 1
  for x in range (1,num+1):
       fact*=x
  print(f"{num}!={fact}")

enter the number : 3
3!=6

# Program 4
Check whether a given number is prime or not.

In [ ]:
num = int(input("enter a number : "))
if num > 1: 
   for i in range(2, num): 
       if (num % i) == 0: 
           print(num, "is not a prime number") 
           break
   else: 
       print(num, "is a prime number")  
else: 
   print(num, "is not a prime number")

enter a number : 41
41 is a prime number

##Program 5
Check whether a given number is a perfect number or not

In [ ]:
num = int(input(" Enter a number: "))
sum = 0
for i in range(1, num):
    if(num % i == 0):
        sum +=  i
if (sum == num):
    print(f" {num} is a Perfect Number" )
else:
    print( f" {num} is not a perfect number")

 Enter a number: 8
 8 is not a perfect number

##Program 6
Check whether a given number is an armstrong  number or not

In [ ]:
num = int(input("enter the number :"))
sum = 0 ; temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(f"{num} is an Armstrong number")
else:
   print(f"{num} is not an Armstrong number")

enter the number :370
370 is an Armstrong number

##Program 7
Program to print all prime numbers within a particular interval

In [ ]:
lb,ub = int(input("enter lower bound :")),int(input("enter upper bound :"))
for num in range(lb, ub+ 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

enter lower bound :2
enter upper bound :10
2
3
5
7

##Program 8
Multiplication table of a given number

In [ ]:
num = int(input("Enter a number :"))
for i in range (1,11):
  print(f"{num} X {i} = {num*i}")

Enter a number :3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

##Program 9
Print first n terms of the fibonacci series

In [ ]:
num = int(input("enter the end range : "))
i = 0 ; first = 0 ; second = 1          
while(i < num):
  if(i <= 1):
    next = i
  else:
      next = first + second
      first = second
      second = next
  print(next)
  i += 1

enter the end range : 1
0

# EXERCISE PROGRAMS

## Program 1
Write a Python program to read a cat’s age in human years and calculate its equivalent cat’s age in cat years.Note: For the first two years, a cat year is equal to 10.5 human years. After that, each cat year equals 4 human years.

In [ ]:
hage = int(input("enter cat's age in years : "))
if hage==0:
  print("age should be +Ve")
  exit()
elif hage <=2:
  cage=10.5*hage
else :
  cage =(10.5*2)+(hage-2)*4
print('cat age in human years = ',cage)

enter cat's age in years : 3
cat age in human years =  25.0

## Program 2
Rahul is an obedient son. His mother wants him to go to market and purchase some vegetables based on some conditions. Rahul decided to automate the price list based on the list given by his mother:Potato: purchase 5kg if price is
<=20 otherwise purchase 1kg Tomato: purchase 2kg if price is <=40 otherwise purchase 1kg Onion: purchase 2kg if price is <=100 otherwise purchase 1kg

In [ ]:
price1 = float(input("enter price of potatoes : "))
price2 = float(input("enter price of tomatoes : "))
price3 = float(input("enter price of onion : "))
if price1<=20:
  print("purchase 5 Kg Potatoes ")
else :
    print ("purchase 1 Kg potatoes ")
if (price2<=40):
  print("purchase 2 Kg tomatoes ")
else:
    print("purchase 1 Kg tomatoes ")
if (price3<=100):
  print("purchase 2 Kg Onion ")
else :
    print("purchase 1 kg Onion")

enter price of potatoes : 3
enter price of tomatoes : 2
enter price of onion : 1
purchase 5 Kg Potatoes
purchase 2 Kg tomatoes
purchase 2 Kg Onion

# Program 3

Print the alphabets till z with given increment value, from given starting value

In [ ]:
step = int(input("Enter the step (inc) value "))+1
start = ord(input("Enter starting point "))
while start <= ord("z"):
 print(chr(start),end = " ")
 start += step

Enter the step (inc) value 2
Enter starting point a
a d g j m p s v y

# Program 4
Write a Python script to guess a number between 1 to 9.

In [ ]:
import random as rd
correct_guess = rd.randint(1,10)
guess = 0
while guess!= correct_guess:
 guess = int(input("match a guess between 1 to 9 until its right"))
print("Winner!!")

match a guess between 1 to 9 until its right3
Winner!!

# Program 5
Write a Python program to construct the following pattern, using a nested for loop.
![image.png]()

In [ ]:
n=5
for i in range(n):
  for j in range (i):
    print("*",end=' ')
  print("")
for i in range (n,0,-1):
  for j in range (i):
    print("*",end=' ')
  print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Program 6
Write a Python program that prints each item and its corresponding type from the following list.Sample List : datalist = [1452, 11.23, 1+2j, True, 'resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [ ]:
datalist = [1452, 11.23, 1+2j, True, 'resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for x in (datalist):
  print(f"type of the item {x} is ",type(x))

type of the item 1452 is  <class 'int'>
type of the item 11.23 is  <class 'float'>
type of the item (1+2j) is  <class 'complex'>
type of the item True is  <class 'bool'>
type of the item resource is  <class 'str'>
type of the item (0, -1) is  <class 'tuple'>
type of the item [5, 12] is  <class 'list'>
type of the item {'class': 'V', 'section': 'A'} is  <class 'dict'>

# Program 7
Write a Python program which iterates the integers from 1 to 50. For multiples of three print "THREE" instead of the number and for the multiples of five print "FIVE". For numbers which are multiples of both three and five print "THREEFIVE".

In [ ]:
for i in range(51):
 if i%3==0 and i%5==0:
   print("three five")
 elif i%3==0 :
   print("three")
 elif i%5==0:
   print("five")
 else :
   print(i)

three five
1
2
three
4
five
three
7
8
three
five
11
three
13
14
three five
16
17
three
19
five
three
22
23
three
five
26
three
28
29
three five
31
32
three
34
five
three
37
38
three
five
41
three
43
44
three five
46
47
three
49
five

# Program 8
Read a set of 4 bit binary numbers one bit at a time starting from MSB till the user input is 0000. For each input, the program should print whether it is divisible by 5 or not.

In [ ]:
while(True):
  msb,hun,ten,lsb = eval(input("enter binary digits from MSB one bit a time:"))
  #msb = int(input("enter msb digit : "))
  #hun = int(input("enter 2nd digit :"))
  #ten = int(input("enter 3rd digit :"))
  #lsb = int(input("enter lsb digit :"))
  digit = (msb*(2**3)) + (hun*(2**2)) + (ten*2) + lsb
  print('decimal digit is ',digit)
  if digit==0:
    break
  elif digit%(5)==0:
    print(f"{digit} is divisible by 5") 
  else :
    print(f"{digit} is not divisible by 5")

enter binary digits from MSB one bit a time:1,0,0,0
digit is  8
8 is not divisible by 5
enter binary digits from MSB one bit a time:0,0,0,0
digit is  0

# Program 9
Given a = 0, b = 1 and c = 1 are the first three numbers of some sequence. All other numbers in the sequence are generated from the sum of their three most recent predecessors. Write a Python script to generate ‘n’ terms of this sequence for a given value of ‘n’.

In [ ]:
a = 0; b=1; c = 1;
n = int(input("enter n value : "))
print(f'{a}\n{b}\n{c}\n')
for i in range (n):
  d = a+b+c
  print(f'{d}\n')
  a=b ; b=c ; c=d;

enter n value : 6
0
1
1

2

4

7

13

24

44

# Program 10
Write a Python script to read the number of digits in a given number and the digits one at a time. Convert the set of digits into a single decimal integer. Sample input : No. of digits : 5 Digits : 2,7,4,9,3 Output : 27493

In [ ]:
n = int(input("enter the number of digits : "))
p = n-1
num=0
for i in range (0,n):
  digit = input("enter the digit :")
  num = num+(digit*(10**p))
  p-=1
print("digit = ",digit)

enter the number of digits : 3
enter the digit :1

TypeError: ignored

In [ ]:
a,b,c=10,20,30
a = a^b^c ; b= a^b^c ; c=a^b^c ; a=a^b^c
print(a,b,c)

30 10 20